{% extends 'base.html' %}

{% block title %}
Отклоненные задачи
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Отклоненные задачи</h1>

    <!-- Форма фильтрации -->
    <form method="get" class="mb-4">
        <div class="form-row mb-2">
            <div class="col-md-4">
                <label for="start_date">С:</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="col-md-4">
                <label for="end_date">По:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}">
            </div>
            {% if store_users %}
            <div class="col-md-4">
                <label for="username">Пользователь:</label>
                <select id="username" name="username" class="form-control">
                    <option value="">Все</option>
                    {% for user in store_users %}
                    <option value="{{ user.username }}" {% if user.username == username_filter %}selected{% endif %}>
                        {{ user.username }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
        <div class="container mb-2">
            <div class="form-row">
                <div class="col-md-2 align-self-end">
                    <button type="submit" class="btn btn-primary">Фильтровать</button>
                </div>
                <div class="col-md-2 align-self-end">
                    <a href="{% url 'rejected_tasks' %}" class="btn btn-secondary">Сбросить фильтр</a>
                </div>
                <div class="col-md-2 align-self-end">
                    <a href="{% url 'role_redirect' %}" class="btn btn-secondary">Перейти к задачам</a>
                </div>
            </div>
        </div>
    </form>

    <!-- Список задач -->
    <div id="task-container">
        <table class="table table-striped" id="task-table">
            <thead>
                <tr>
                    <th>Дата и время</th>
                    <th>Пользователь</th>
                    <th>Комментарий</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody id="task-body">
                {% for task in tasks %}
                <tr>
                    <td>{{ task.created_at|date:"d-m-Y H:i" }}</td>
                    <td>{{ task.created_by.username }}</td>
                    <td>{{ task.comment|default:"-" }}</td>
                    <td><a href="{% url 'show_task' task.id %}" class="btn btn-secondary">Подробнее</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Задач не найдено</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                {% if tasks.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ tasks.previous_page_number }}&start_date={{ start_date|default_if_none:'' }}&end_date={{ end_date|default_if_none:'' }}&username={{ username_filter|default_if_none:'' }}">Previous</a>
                </li>
                {% endif %}

                {% for i in tasks.paginator.page_range %}
                <li class="page-item {% if tasks.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}&start_date={{ start_date|default_if_none:'' }}&end_date={{ end_date|default_if_none:'' }}&username={{ username_filter|default_if_none:'' }}">{{ i }}</a>
                </li>
                {% endfor %}

                {% if tasks.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ tasks.next_page_number }}&start_date={{ start_date|default_if_none:'' }}&end_date={{ end_date|default_if_none:'' }}&username={{ username_filter|default_if_none:'' }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
