{% extends 'base.html' %}

{% block title %}
Управление задачами
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Управление задачами</h1>

    <!-- Форма фильтрации -->
    <form method="get" class="mb-4">
        <div class="form-row">
            <div class="col-md-4">
                <h3><label for="start_date">С:</label></h3>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="col-md-4">
                <h3><label for="end_date">По:</label></h3>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}">
            </div>
            <div class="col-md-2 align-self-end">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </div>
            <div class="col-md-2 align-self-end">
                <a href="{% url 'operator_index' %}" class="btn btn-secondary">Сбросить фильтр</a>
            </div>
        </div>
    </form>
    <div class="container mb-4 mt-4">

      <div class="row row-cols-4">
        <div class="col">
            <a href="{% url 'rejected_tasks' %}" class="btn btn-secondary">Отклоненные задачи</a>
        </div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>

    </div>
    <!-- Список задач -->
    <div id="task-container">
        <table class="table table-striped" id="task-table">
            <thead>
                <tr>
                    <th>Дата и время</th>
                    <th>Задача создана пользователем</th>
                    <th>Комментарий</th>
                    <th>Количество изображений</th>
                    <th>Статус</th>
                    <th>Обрабатывается пользователем</th>
                </tr>
            </thead>
            <tbody id="task-body">
                <!-- JavaScript будет динамически добавлять задачи сюда -->
            </tbody>
        </table>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const taskContainer = document.getElementById('task-body');

    // Функция для получения задач через API
    async function fetchTasks() {
        const response = await fetch('/api/tasks/');
        const data = await response.json();
        taskContainer.innerHTML = '';
        data.forEach(task => {
            // Проверка статуса задачи; пропускаем задачи со статусом 'rejected' и 'completed'
            if (task.status !== 'rejected' && task.status !== 'completed') {
                const row = document.createElement('tr');
                row.className = task.status === 'pending' ? 'table-primary' :
                                (task.status === 'in_progress' ? 'table-warning' : '');
                row.innerHTML = `
                    <td>${new Date(task.created_at).toLocaleString()}</td>
                    <td>${task.created_by || 'Неизвестно'}</td>
                    <td>${task.comment || '-'}</td>
                    <td>${task.images_count}</td>
                    <td>${task.status === 'pending' ? `<a href="/task/tasks/${task.id}/process/">Взять в обработку</a>` :
                            (task.status === 'in_progress' ? (task.processed_by ? `<a href="/task/tasks/${task.id}/process/">Продолжить</a>` : 'Обработка') :
                            '')}</td>
                    <td>${task.status === 'in_progress' ? (task.processed_by || '-') : '-'}</td>
                `;
                taskContainer.appendChild(row);
            }
        });
    }

    // Вызов функции для получения задач при загрузке страницы
    fetchTasks();

    // Обновление списка задач каждые 30 секунд
    setInterval(fetchTasks, 30000);
});
</script>
{% endblock %}
